ul, ul ul, ul ul ul, ul ul ul ul {
    padding-left: 35px;
    list-style-type: disc;
}

ul ul ul ul
{
    -moz-column-width: 11.5em;
    -webkit-column-width: 11.5em;
    column-width: 11.5em;
    margin: 0;
    list-style-position: inside;
}

.columns ul ul ul ul:first-child
{
    margin-top:0px;
}
